NEXT_PUBLIC_BACKEND_URL=http://localhost:3000
NEXT_PUBLIC_MOCK_USDC_ADDRESS=0x...
NEXT_PUBLIC_PRICE_ORACLE_ADDRESS=0x...
NEXT_PUBLIC_SPOT_MARKET_ADDRESS=0x...
NEXT_PUBLIC_LIQUIDITY_POOL_ADDRESS=0x...
NEXT_PUBLIC_POSITION_MANAGER_ADDRESS=0x...
NEXT_PUBLIC_EXPLORER_URL=https://testnet-explorer.hsk.xyz
NEXT_PUBLIC_CHAIN_ID=133
